.idea/
/*.iml
node_modules
web/bower_components/angular
web/bower_components/angular-animate
web/bower_components/angular-bootstrap
web/bower_components/angular-bootstrap-colorpicker
web/bower_components/angular-bootstrap-slider
web/bower_components/angular-local-storage
web/bower_components/angular-mocks
web/bower_components/angular-route
web/bower_components/angular-sanitize
web/bower_components/angular-spinner
web/bower_components/angular-touch
web/bower_components/angular-translate
web/bower_components/angular-translate-loader-static-files
web/bower_components/angular-ui-codemirror
web/bower_components/angular-ui-flow-manager
web/bower_components/angular-ui-router
web/bower_components/angular-vertilize
web/bower_components/bootstrap
web/bower_components/bootstrap-form-components
web/bower_components/bootstrap-sass-official
web/bower_components/bootstrap-select
web/bower_components/checklist-model
web/bower_components/codemirror
web/bower_components/font-awesome
web/bower_components/jquery
web/bower_components/lodash
web/bower_components/modernizr
web/bower_components/ng-biscuit
web/bower_components/ng-core-api-client
web/bower_components/ng-csv
web/bower_components/ng-gapi-loader
web/bower_components/ngstorage
web/bower_components/q
web/bower_components/seiyria-bootstrap-slider
web/bower_components/select2
web/bower_components/select2
web/bower_components/spin.js
web/bower_components/webfontloader
web/bower_components/widget-common
web/bower_components/widget-settings-ui-components
web/bower_components/widget-settings-ui-core
reports
.log
dist
web/tmp
web/scripts/config/config.js

