<div class="app-header">
  <div class="title-block">
    <!-- App Title -->
    <h1 id="title" translate>displays-app.actions.new</h1>
  </div>
</div>

<div id="display-loader" rv-spinner rv-spinner-key="display-loader" rv-spinner-start-active="0"></div>

<div>
  <form role="form" name="displayDetails">
    
    <display-fields></display-fields>
    
    <div ng-show="submitError" class="alert alert-danger" role="alert">
      <strong translate>displays-app.add.error </strong>{{submitError}}
    </div> 

    <div class="button-row text-right">      
      <!-- Indicates a successful or positive action -->
      <button id="saveButton" type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="displayDetails.$invalid || savingDisplay" require-role="da">
        {{ savingDisplay ? ('common.saving' | translate) : ('common.save' | translate)}} 
        <i class="fa fa-check icon-right"></i>
      </button>
      <!-- Indicates cancel or non-destructive action -->
      <button id="cancelButton"  ui-sref="apps.displays.list" class="btn btn-default">
        {{'common.cancel' | translate}}
        <i class="fa fa-times icon-right"></i>
      </button>
    </div><!--button-row -->
  </form><!-- displayDetails -->
</div><!--container-->
