<div class="row">
  <div class="col-md-offset-1 col-md-5 col-xs-6">
    <a class="btn btn-primary btn-block ng-scope" ng-click="displayTracker('Player Download', display.id, display.name, 'Windows 32bit')" href="http://install-versions.risevision.com/installer-win-32.exe">
      {{'displays-app.download.win32' |  translate }}
      <img src="https://s3.amazonaws.com/Rise-Images/Icons/windows.png">
    </a>
  </div>

   <div class="col-md-5 col-xs-6">
    <a class="btn btn-primary btn-block ng-scope" ng-click="displayTracker('Player Download', display.id, display.name, 'Ubuntu 64bit')" href="http://install-versions.risevision.com/installer-lnx-64.sh" target="_blank">
      {{'displays-app.download.linux64' |  translate }}
      <img src="https://s3.amazonaws.com/Rise-Images/Icons/ubuntu.png">
    </a>
  </div>  
</div>

<div class="row" >
  <div class="col-md-offset-1 col-md-5 col-xs-6">
    <a id="downloadWindows64" class="btn btn-primary btn-block ng-scope" ng-click="displayTracker('Player Download', display.id, display.name, 'Windows 64bit')" href="http://install-versions.risevision.com/installer-win-64.exe">
      {{'displays-app.download.win64' |  translate }}
      <img src="https://s3.amazonaws.com/Rise-Images/Icons/windows.png">
    </a>
  </div>

</div>
