<div class="content-box half-top">
  <div class="scrollable-list">
    <table class="table-2 table-hover table-middle">
      <tbody>
        <tr class="clickable-row" ng-repeat="playlistItem in playlistItems track by $index">
          <td ng-click="manage(playlistItem)">
            <p class="playlist-item-name remove-bottom"><strong>{{playlistItem.name}}</strong></p>
          </td>
          <td class="hidden-xs" ng-click="manage(playlistItem)">
            <p class="playlist-item-reference text-muted remove-bottom" id="presentationNameCell" ng-if="playlistItem.type === 'presentation'" presentation-name="playlistItem.objectReference"></p>
            <p class="playlist-item-reference text-muted remove-bottom" ng-if="playlistItem.type === 'url'">{{playlistItem.objectReference}}</p>
          </td>
          <td class="text-right">
            <div class="table-actions">
              <span class="btn-group btn-group-sm">
                <button class="btn btn-default" id="moveUpButton" ng-click="factory.movePlaylistItemUp(playlistItem)" ng-disabled="!factory.canPlaylistItemMoveUp(playlistItem)"><i class="fa fa-arrow-up"></i></button>
                <button class="btn btn-default" id="moveDownButton" ng-click="factory.movePlaylistItemDown(playlistItem)" ng-disabled="!factory.canPlaylistItemMoveDown(playlistItem)"><i class="fa fa-arrow-down"></i></button>
              </span>
              <button class="btn btn-sm btn-default" id="duplicateButton" ng-click="factory.duplicatePlaylistItem(playlistItem)">
                <i class="fa fa-copy"></i>
              </button>
              <button class="btn btn-sm btn-default" id="removeButton" ng-click="remove(playlistItem)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-hide="playlistItems.length">
      <div class="content-box-body">
        <p class="text-muted text-center remove-bottom" translate>schedules-app.playlist.empty</p>
      </div>
    </div>
  </div>
</div><!--content-box-->
