<div id="playlistItemModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title">{{isNew ? 'common.add' : 'common.edit' | translate}} {{'schedules-app.playlist.item.title' | translate}}</h3>
  </div>

  <div class="modal-body" stop-event="touchend">
    <form role="form" name="playlistItemFields" novalidate>
      <div class="form-group">
        <label class="control-label" translate>schedules-app.playlist.item.name</label>
        <input type="text" class="form-control" id="itemName" placeholder="Item Name" ng-model="playlistItem.name"> 
      </div>
      
      <div class="form-group" ng-if="playlistItem.type === 'url'" ng-class="{'has-error': playlistItemFields.url.$touched && playlistItemFields.url.$invalid}" show-errors>
        <label class="control-label">{{'schedules-app.playlist.item.url' | translate}} *</label>
        <div class="input-group custom-addon">
          <input type="text" class="form-control" placeholder="{{'schedules-app.playlist.item.url' | translate}}" id="url" name="url" ng-model="playlistItem.objectReference" required focus-me="isNew">
          <span class="input-group-addon">
            <storage-selector company-id="{{companyId}}" type="single-file"></storage-selector>
          </span>
        </div>
        <p class="text-danger" ng-show="playlistItemFields.url.$touched && playlistItemFields.url.$error.required"  translate>
          schedules-app.playlist.item.required
        </p>
      </div>

      <div class="form-group" ng-if="playlistItem.type === 'presentation'">
        <label class="control-label add-right" >{{'schedules-app.playlist.item.presentation' | translate}}:</label>
        <a class="clickable" id="presentationName" ng-click="selectPresentation()" presentation-name="playlistItem.objectReference"></a>
      </div>

      <hr>
      <div class="form-group half-top">

        <label class="control-label add-right" translate>editor-app.playlistItem.duration</label>
        <label class="control-label control-label-secondary add-left" ng-if="playlistItem.type === 'presentation'">
          <input type="checkbox" ng-model="playlistItem.playUntilDone" />
          <span translate>editor-app.playlistItem.playUntilDone</span>
        </label>
        <div class="row" ng-if="!playlistItem.playUntilDone">
          <div class="col-sm-4">
            <div class="input-group">
              <input type="number" class="form-control" id="itemDuration" ng-model="playlistItem.duration" />
              <span class="input-group-addon" translate>editor-app.playlistItem.seconds</span>
            </div>
          </div>
        </div><!--row-->
      </div>

      
      <div class="form-group">
        <label class="control-label" translate>schedules-app.fields.timeline</label>
        <timeline-textbox
        time-defined = "playlistItem.timeDefined"
        start-date = "playlistItem.startDate"
        end-date = "playlistItem.endDate"
        start-time = "playlistItem.startTime"
        end-time = "playlistItem.endTime"
        recurrence-type = "playlistItem.recurrenceType"
        recurrence-frequency = "playlistItem.recurrenceFrequency"
        recurrence-absolute = "playlistItem.recurrenceAbsolute"
        recurrence-day-of-week = "playlistItem.recurrenceDayOfWeek"
        recurrence-day-of-month = "playlistItem.recurrenceDayOfMonth"
        recurrence-week-of-month = "playlistItem.recurrenceWeekOfMonth"
        recurrence-month-of-year = "playlistItem.recurrenceMonthOfYear"
        recurrence-days-of-week = "playlistItem.recurrenceDaysOfWeek"
        ></timeline-textbox>
      </div><!--form-group-->
    </form>
  </div><!--modal-body-->

  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-fixed-width" id="itemSave" ng-click="save()" ng-disabled="playlistItemFields.$invalid">{{isNew ? 'common.add' : 'common.apply' | translate}} <i class="fa fa-white fa-check icon-right"></i></button>
    <button type="button" class="btn btn-default btn-fixed-width" ng-click="dismiss()">{{'common.cancel' | translate}} <i class="fa fa-times icon-right"></i></button>
  </div>
</div>
