<div class="app-header">
  <div class="title-block">
    <!-- App Title -->
    <h1 id="title" translate>schedules-app.title</h1>
  </div>

  <div class="global-actions" require-role="cp">
    <a id="scheduleAddButton" ui-sref="apps.schedules.add" class="btn btn-lg btn-primary">
      {{ 'schedules-app.actions.new' | translate }}
      <i class="fa fa-plus icon-right"></i> 
    </a>
  </div>
</div>

<search-filter filter-config="filterConfig" search="search" do-search="doSearch"></search-filter> 
<div class="content-box half-top">
  <div class="scrollable-list"
    scrolling-list="load()"
    rv-spinner rv-spinner-key="schedules-list-loader"
    rv-spinner-start-active="1"
    >
    <table id="schedulesListTable" class="table-2 table-hover">
      <thead>
        <tr class="clickable">
          <th id="tableHeaderName" ng-click="sortBy('name')">
            {{ 'schedules-app.list.heading.name' | translate }}
            <!-- ngIf: search.sortBy == 'name' -->
            <i ng-if="search.sortBy == 'name'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[search.reverse]"></i>
            <!-- end ngIf: search.sortBy == 'name' -->
          </th>
          <th id="tableHeaderChangeDate" class="text-right hidden-xs" ng-click="sortBy('changeDate')">
            {{ 'schedules-app.list.heading.changeDate' | translate }}
            <!-- ngIf: search.sortBy == 'changeDate' -->
            <i ng-if="search.sortBy == 'changeDate'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[search.reverse]"></i>
            <!-- end ngIf: search.sortBy == 'changeDate' -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="clickable-row" ng-repeat="schedule in schedules.list" ui-sref="apps.schedules.details({scheduleId: schedule.id})">
          <td class="col-sm-9"><a ui-sref="apps.schedules.details({scheduleId: schedule.id})"><strong>{{schedule.name}}</strong></a></td>
          <td class="col-sm-2 hidden-xs text-right nowrap"><a ui-sref="apps.schedules.details({scheduleId: schedule.id})">{{schedule.changeDate | date:'d-MMM-yyyy h:mm a'}}</a></td>
        </tr>
        <!-- If no schedules available -->
        <tr ng-show="schedules.list.length === 0 && !search.query">
          <td colspan="3" class="text-center"><a ui-sref="apps.schedules.details({scheduleId: schedule.id})"><span translate>schedules-app.list.empty</span></a></td>
        </tr>
        <!-- If no search results -->
        <tr ng-show="schedules.list.length === 0 && search.query">
          <td colspan="3" class="text-center"><a ui-sref="apps.schedules.details({scheduleId: schedule.id})"><span translate>schedules-app.list.no-results</span></a></td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div><!--content-box-->
