<div class="app-header">
  <div class="title-block">
    <!-- App Title -->
    <h1 id="title" translate>schedules-app.actions.new</h1>
  </div>
</div>

<div rv-spinner rv-spinner-key="schedule-loader" rv-spinner-start-active="0"></div>

<div>
  <form id="scheduleAdd" role="form" name="scheduleDetails" novalidate>
    
    <schedule-fields></schedule-fields>
    
    <div id="errorBox" ng-show="factory.apiError" class="alert alert-danger" role="alert">
      <strong>{{factory.errorMessage}}</strong> {{factory.apiError}}
    </div> 

      <div class="button-row text-right">
        <!-- Indicates a successful or positive action -->
        <button id="saveButton" type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="scheduleDetails.$invalid || factory.savingSchedule" require-role="cp">
          {{ factory.savingSchedule ? ('common.saving' | translate) : ('common.save' | translate)}} 
          <i class="fa fa-check icon-right"></i>
        </button>
        <!-- Indicates cancel or non-destructive action -->
        <button id="cancelButton"  ui-sref="apps.schedules.list" class="btn btn-default">
          {{'common.cancel' | translate}}
          <i class="fa fa-times icon-right"></i>
        </button>
      </div><!--button-row-->

  </form><!-- scheduleDetails -->
</div><!--container-->
