<div class="app-launcher-login">
	<div class="container">
		<div class="content-box">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div class="rise-logo"><img src="/images/logo.png"></div>
				</div>
				<div class="col-sm-8 col-xs-12">
					<h1 class="remove-top" translate>common.signUp</h1>
					<p class="lead text-muted" translate>launcher.createAccount</p>
					<button ng-controller="RegisterButtonCtrl" ng-click="register()" class="btn btn-danger btn-hg add-bottom" translate>common.completeRegistration</button>
					<br>
					<p class="text-muted add-top"><a id="sign-in-link" href="" ng-controller="SignOutButtonCtrl" ng-click="logout()" translate>common.signOut</a></p>
				</div><!--col-->
			</div><!--row-->					
		</div><!--content-box-->	
	</div><!--container-->
</div><!--app-launcher-login-->
