<div id="goToStoreModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" translate>editor-app.goToStore.title</h3>
  </div>

  <div class="modal-body" stop-event="touchend">
    <div class="row">
      <div class="col-xs-4"> 
        <img ng-src="{{product.imageUrl}}" class="img-responsive" /> 
      </div>
      <div class="col-xs-8">  
      <h4>{{product.name}}</h4>
        <p>{{'editor-app.goToStore.message' | translate}} <a href="https://store.risevision.com/product/{{product.productId}}" target="_blank" ng-click="close()" translate>editor-app.goToStore.purchase</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a class="btn btn-primary btn-fixed-width" href="https://store.risevision.com/product/{{product.productId}}" target="_blank" ng-click="close()">      
      {{'editor-app.goToStore.view' | translate}} <i class="fa fa-white fa-arrow-circle-right icon-right"></i>      
    </a>

    <button id="formCancelButton" class="btn btn-default" ng-click="dismiss()">
      {{'common.cancel' | translate}} <i class="fa fa-white fa-times icon-right"></i>
    </button>
  </div>

</div>


