<div class="scrollable-list">
  <div class="content-box-body">
  <form role="form" name="placeholderFields" novalidate>
    <div class="form-group" ng-hide="editingName">
      <label class="control-label" translate>editor-app.properties.labels.name</label>
      <a id="editPlaceholderName" class="link add-left" href="" ng-click="editingName = true; placeholder.newId = placeholder.id">
        {{ 'common.edit' | translate }}
      </a>
      <div class="input-group">
        <input type="text" id="placeholderId" class="form-control" ng-model="placeholder.id" ng-disabled="true">
      </div>
    </div><!--form-group-->
    
    <div class="form-group" ng-show="editingName">
      <label class="control-label" translate>editor-app.properties.labels.name</label>
      <a id="savePlaceholderName" class="link add-left" href="" ng-click="updatePlaceholderName()">
        {{'common.apply' | translate}}
      </a>
      <a id="cancelPlaceholderName" class="link add-left" href="" ng-click="editingName = false">
        {{'common.cancel' | translate}}
      </a>

      <div class="input-group">
        <input type="text" id="placeholderNewId" name="newId" class="form-control" placeholder="Placeholder Name" ng-model="placeholder.newId" required placeholder-name-validator>
      </div>
      <p id="requiredValidation" class="text-danger" ng-show="!placeholderFields.newId.$pristine && placeholderFields.newId.$error.required" translate>
        editor-app.properties.warnings.required
      </p>
      <p id="invalidValidation" class="text-danger" ng-show="!placeholderFields.newId.$pristine && placeholderFields.newId.$error.alphanumeric" translate>
        editor-app.properties.warnings.invalid
      </p>
      <p id="duplicateValidation" class="text-danger" ng-show="!placeholderFields.newId.$pristine && placeholderFields.newId.$error.duplicate" translate>
        editor-app.properties.warnings.duplicate
      </p>
    </div><!--form-group-->
    
    
    <div class="form-group">
      <label class="control-label">
        <input type="checkbox" ng-model="placeholder.visibility"> {{'editor-app.workspace.sidebar.edit.settings.visible' | translate}}
      </label>
    </div>

    <div class="form-group ph-transform">

      <div class="row sm-gutter">
        <div class="col-sm-6">  <div class="input-group">
          <label class="control-label input-group-addon" translate>editor-app.workspace.sidebar.edit.settings.width</label>
          <input class="form-control" type="number" ng-model="placeholder.width">
          <span class="input-group-addon">{{placeholder.widthUnits}}</span>
        </div></div>
        <div class="col-sm-6"><div class="input-group">
          <label class="control-label input-group-addon">{{'editor-app.workspace.sidebar.edit.settings.top' | translate}}(Y)</label>
          <input class="form-control" type="number" ng-model="placeholder.top">
          <span class="input-group-addon">{{placeholder.topUnits}}</span>
        </div></div>
      </div>

      <div class="row sm-gutter half-top">
        <div class="col-sm-6">  <div class="input-group">
          <label class="control-label input-group-addon" translate>editor-app.workspace.sidebar.edit.settings.height</label>
          <input class="form-control" type="number" ng-model="placeholder.height">
          <span class="input-group-addon">{{placeholder.heightUnits}}</span>
        </div></div>
        <div class="col-sm-6"><div class="input-group">
          <label class="control-label input-group-addon">{{'editor-app.workspace.sidebar.edit.settings.left' | translate}}(X)</label>
          <input class="form-control" type="number" ng-model="placeholder.left">
          <span class="input-group-addon">{{placeholder.leftUnits}}</span>
        </div></div>
      </div>

    </div><!--form-group-->


    <div class="form-group">
      <label class="control-label add-right" translate>editor-app.workspace.sidebar.edit.settings.zOrder</label>
      <div class="row sm-gutter">
        <div class="col-sm-6">
          <input type="number" class="form-control" ng-model="placeholder.zIndex">
        </div><!--col-->

        <div class="col-sm-3">
        </div><!--col-->
      </div><!--row-->

    </div><!--form-group-->

  <div class="form-group">
    <label translate>editor-app.properties.labels.background</label>
    <background-image-setting id="placeholderBackgroundSettings" background="background" company-id="{{companyId}}" color-parent-container-class="'background-color-picker'" color-container-class="'background-color-picker-input'" position-parent-container-class="'background-image-position'" position-container-class="'background-image-position-input'" repeat-parent-container-class="'background-image-position'" repeat-container-class="'background-image-position-input'"></background-image-setting>
  </div>

  <div class="form-group">
    <label id="transitionLabel" class="control-label" translate>editor-app.properties.transition.label</label>
    <select id="transitionSelect" class="form-control" ng-model="placeholder.transition">
      <option value="none" translate>editor-app.properties.transition.none</option>
      <option value="fade" translate>editor-app.properties.transition.fade</option>
      <option value="slide-right" translate>editor-app.properties.transition.slideRight</option>
      <option value="slide-left" translate>editor-app.properties.transition.slideLeft</option>
      <option value="slide-up" translate>editor-app.properties.transition.slideUp</option>
      <option value="slide-down" translate>editor-app.properties.transition.slideDown</option>
    </select>
  </div><!--form-group-->


    <div class="form-group">
      <label class="control-label add-right" translate>schedules-app.fields.timeline</label>
      <timeline-textbox
      time-defined = "placeholder.timeDefined"
      start-date = "placeholder.startDate"
      end-date = "placeholder.endDate"
      start-time = "placeholder.startTime"
      end-time = "placeholder.endTime"
      recurrence-type = "placeholder.recurrenceType"
      recurrence-frequency = "placeholder.recurrenceFrequency"
      recurrence-absolute = "placeholder.recurrenceAbsolute"
      recurrence-day-of-week = "placeholder.recurrenceDayOfWeek"
      recurrence-day-of-month = "placeholder.recurrenceDayOfMonth"
      recurrence-week-of-month = "placeholder.recurrenceWeekOfMonth"
      recurrence-month-of-year = "placeholder.recurrenceMonthOfYear"
      recurrence-days-of-week = "placeholder.recurrenceDaysOfWeek"
      ></timeline-textbox>
    </div><!--form-group-->

    <distribution-selector distribution="placeholder.distribution" distribute-to-all="placeholder.distributeToAll"></distribution-selector>

  </form>
  </div>
</div>
