<select id="resolutionSelect" class="form-control" ng-model="resolutionOption"  ng-change="updateResolution()">
  <option ng-selected="{{key == resolutionOption}}" ng-repeat="key in objectKeys(resolutionOptions)" ng-init="value = resolutionOptions[key]" value="{{key}}" label="{{value}}">{{value}}</option>
</select>

<div id="customResolution" class="animated fadeIn half-top" ng-if="resolutionOption == 'custom'">

  <div class="row ph-transform sm-gutter">
    <div class="col-sm-6">

      <div class="input-group">
        <label id="widthLabel" class="input-group-addon" translate>editor-app.properties.labels.width</label>
        <input id="widthInput" class="form-control" type="number" ng-model="presentationProperties.width">
        <span id="widthPxLabel" class="input-group-addon">px</span>
      </div>
    </div>

    <div class="col-sm-6">

      <div class="input-group">
        <label id="heightLabel" class="input-group-addon" translate>editor-app.properties.labels.height</label>
        <input id="heightInput" class="form-control" type="number" ng-model="presentationProperties.height">
        <span id="heightPxLabel" class="input-group-addon">px</span>
      </div><!--input-group-->

    </div>
  </div><!--row-->
</div><!--ng-if-->
