<div id="addWidgetByUrlModal">
<div class="modal-header">
  <h3 class="modal-title" translate>editor-app.addWidget.title</h3>
</div>
<div class="modal-body" stop-event="touchend">

<form role="form" name="formDetails" ng-enter="apply()">
    <div class="form-group" ng-class="{'has-error': !formDetails.url.$pristine && formDetails.url.$invalid}" show-errors>
      <label id="urlLabel" class="control-label" translate>editor-app.addWidget.url</label>
      <input id="urlInput" name="url" type="url" class="form-control" placeholder="http://" ng-model="form.url" required>
      <p id="warningRequired" class="text-danger" ng-show="!formDetails.url.$pristine && formDetails.url.$error.required" translate>
        editor-app.properties.warnings.required
      </p>
      <p id="warningInvalidUrl" class="text-danger" ng-show="!formDetails.url.$pristine && formDetails.url.$error.url" translate>
        editor-app.properties.warnings.invalidUrl
      </p>
    </div><!--form-control-->

  <div class="form-group" ng-class="{'has-error': !formDetails.settingsUrl.$pristine && formDetails.settingsUrl.$invalid}" show-errors>
      <label id="settingsUrlLabel" class="control-label" translate>editor-app.addWidget.settingsUrl</label>
      <input id="settingsUrlInput" name="settingsUrl" type="url" class="form-control" placeholder="http://" ng-model="form.settingsUrl">
      <p class="text-danger" ng-show="!formDetails.settingsUrl.$pristine && formDetails.settingsUrl.$error.url" translate>
        editor-app.properties.warnings.invalidUrl
      </p>
    </div><!--form-control-->
  </form>
</div>

<div class="modal-footer">

  <button id="applyButton" class="btn btn-primary" ng-click="apply()" ng-disabled="formDetails.$invalid">{{'common.apply' | translate}} <i class="fa fa-check icon-right"></i></button>
  <button id="formCancelButton" class="btn btn-default" ng-click="dismiss()">{{'common.cancel' | translate}} <i class="fa fa-times icon-right"></i></button>
</div>
</div>