<style type="text/css">
	.navbar .container {width: 100%;}
</style>

<div id="workspace" class="workspace" ng-class="{'hide-sidebar' : !designMode  || (!placeholderFactory.placeholder && fullArtboard), 'active-banner-mode' : isSubcompanySelected() || isTestCompanySelected(), 'active-banner-mode-double' : isSubcompanySelected() && isTestCompanySelected()}">
  <sidebar></sidebar>
  <toolbar></toolbar>

  <div class="workspace-board">
    <div id="editingModeView" ui-view></div>
  </div><!--editor-bg-->

  <footer></footer>
</div>