<div id="newFolderModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title">{{'storage-client.new-folder' | translate}}</h3>
  </div>
  <div class="modal-body" stop-event="touchend" autofocus="autofocus">
    <div class="form-group">
      <input id="newFolderInput" type="text" class="form-control" ng-model="folderName" placeholder="Enter Folder Name" ng-focus="duplicateFolderSpecified=false" autofocus="autofocus">
      <br>
      <div ng-show="duplicateFolderSpecified">
        <div class="alert alert-warning" role="alert">{{"storage-client.duplicate-folder" | translate}}</div>
      </div>
      <div ng-show="accessDenied && accessDeniedMessage">
        <div class="alert alert-danger" role="alert">{{accessDeniedMessage}}</div>
      </div>
      <div ng-show="accessDenied && !accessDeniedMessage">
        <div class="alert alert-danger" role="alert">{{"storage-client.access-denied" | translate}}</div>
      </div>
      <div ng-show="serverError">
        <div class="alert alert-danger" role="alert">{{"storage-client.server-error" | translate}} {{respCode}}</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button id="newFolderModalSaveButton" class="btn btn-primary btn-fixed-width" ng-click="ok()" ng-disabled="!folderName || accessDenied || serverError || waitingForResponse">
        <span translate="common.save"></span> <i class="fa fa-white fa-check icon-right"></i>
      </button>
      <button id="newFolderModalCancelButton" class="btn btn-default btn-fixed-width" ng-click="cancel()">
        <span translate="common.cancel"></span> <i class="fa fa-white fa-times icon-right"></i>
      </button>
  </div>
</div>
