<div class="container" id="pitchdeck">
  <div>&nbsp;</div>
  <div class="add-bottom blank-state">
    <div class="product-graphic">
      <img itemprop="image" class="img-responsive" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/storage_image.png">
    </div>

    <div class="content-box-body ng-scope">
      <div class="product-intro">
        <h1>Storage</h1>
        <p class="lead"><strong>Manage and deliver media to your digital signage displays, anywhere, anytime.</strong></p>
        <p class="lead">Free 30 days trial. No credit card required.</p>
        <p class="lead">$10 per Company per Month.</p>
        <button type="button" class="btn btn-hg btn-primary" ng-click="filesFactory.startTrial()">Start Your Free Trial</button>
      </div>
    </div>    
  </div>
</div>
