
<div class="modal-body storage-full" stop-event="touchend" id="storageSelectorModal" ng-controller="FilesListController">
  <button type="button" id="closeButton" class="close" ng-click="dismiss()" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>

  <div style="clear: both" class="visible-xs"></div>
  <div ng-controller="SubscriptionStatusController" class="visible-xs">
    <div id="subscription-status" subscription-status
         product-id="{{productId}}" product-code="{{productCode}}" company-id="{{companyId}}"
         ng-model="subscriptionStatus.result" show-store-modal="showStoreModal" expanded-format="true">
    </div>
  </div>

	<div class="padding-large-horizontal padding-large-bottom">
	<div class="app-header half-top">
	  <div class="title-block">
	    <!-- App Title -->
	    <h1 id="title" translate="storage-client.select-{{storageFactory.selectorType}}"></h1>
    </div>

    <ng-include src="'partials/storage/global-actions.html'"></ng-include>	  

    <ng-include src="'partials/storage/upload-panel.html'"></ng-include>

	</div><!--app-header-->

  <search-filter filter-config="filterConfig" search="search" do-search="search.doSearch" ng-show="!trialAvailable"></search-filter>

  <div ng-controller="SubscriptionStatusController" class="hidden-xs">
    <div id="subscription-status" subscription-status
         product-id="{{productId}}" product-code="{{productCode}}" company-id="{{companyId}}"
         ng-model="subscriptionStatus.result" show-store-modal="showStoreModal" expanded-format="true">
    </div>
  </div>

  <ng-include src="'partials/storage/files-list.html'"></ng-include>
	
  <div ng-show="trialAvailable">
    <ng-include src="'partials/storage/start-trial.html'" ng-show="trialAvailable"></ng-include>
  </div>

  <div ng-show="storageFactory.isMultipleFileSelector() && !trialAvailable">
    <button type="button" title="select" class="btn btn-primary" ng-click="fileSelectorFactory.sendFiles()" ng-disabled="filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1">
      <span translate="common.select"></span> <span class="fa fa-check icon-right"></span>
    </button>
    <button class="btn btn-default" ng-click="dismiss()">
      <span translate="common.cancel"></span> <span class="fa fa-times icon-right"></span>
    </button>
  </div>


	</div><!--padding-->
</div><!--modal-body-->
