<div ng-controller="UploadController">
  <div class="content-box animated fadeInDown upload-panel" ng-show="uploader.queue.length > 0">
    
      <div ng-click="isCollapsed = !isCollapsed">
        <div class="content-box-header">
          <span class="collapse-control">
            <i class="fa" ng-class="{false: 'fa-chevron-up', true:'fa-chevron-down'}[!isCollapsed]"></i>
          </span>
          <p>
            <strong translate="storage-client.upload-status"></strong>:
            <span ng-show="activeUploadCount() === 1" translate="storage-client.uploading-one-file"></span>
            <span ng-show="activeUploadCount() !== 1" translate="storage-client.uploading-count-files" translate-values="{ count: activeUploadCount() }"></span>
          </p>

          <div class="actions-block">
            <button class="btn btn-default btn-sm" type="button" ng-click="cancelAllUploads()" title="{{'storage-client.cancel-uploads' | translate}}">
              <span translate="storage-client.cancel-uploads"></span>
            </button>
            <button class="btn btn-default btn-sm" type="button" ng-click="retryFailedUploads()" ng-show="getErrorCount() > 0 && getNotErrorCount() === 0" title="{{'storage-client.retry-failed-uploads' | translate}}">
            <span translate="storage-client.retry-failed-uploads"></span>
            </button>
          </div>
          
        </div><!--content-box-header-->

      </div>
      <div ng-show="!isCollapsed">
      <div class="content-box-body">
        <div class="half-top" ng-repeat="item in uploader.queue">
          <p>
            <span class="ellipsed">{{item.file.name}}</span>
            <span class="text-muted add-left add-right"> {{ item.file.size|fileSizeFilter }}</span>
            <a href="#" ng-click="removeItem(item)">
              <span translate="common.lremove"></span>
            </a>
          </p>
          <div class="progress inline-progress">
            <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                 ng-style="{ 'width': item.progress + '%' }"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1">
    <form id="uploadform">
      <input type="file" id="upload-files" storage-file-select uploader="uploader" multiple>
      <input type="file" id="upload-folder" storage-file-select uploader="uploader" webkitdirectory>
    </form>
  </div>
</div><!-- UploadController -->
